// base variables for body
$bg-base: #fff;
$font-base: 'Roboto',
sans-serif;
$font-size-base  : 14px;
$font-weight-base: 400;
$color-base      : #64759f;

// variables for headings
$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 20px;
$h4-font-size: 17px;

$headings-font-weight :700;
$headings-line-height : 28px;
$headings-color       : #43537b;

// variables for paragraph
$p-color: #2b2c33;

// variables common
$mark-bg           : yellow;
$mark-padding      : 0 3px;
$bgc-header        : #000000;
$bgc-footer        : #f1f3f8;
$color-text-header : #555f76;
$color-text-footer :#8793b3;
$color-text-special: #36c2ff;
//$color-red         : #eb4644;
//$bgc-block         : #fbf5f1;
$bg-border         : #64759F;

$border-color-select : #555f76;
$text-color-sale   : #232323;

$color-old-price: #e9cfbe;
$color-now-price: #36c2ff;

$link-static-color  : #555f76;
$link-hover-color   : #36c2ff;
$link-visited-color :  #555f76;


// variables for button














// // Media queries breakpoints max-width
// $xs-max  : 479px;
// $sm-max  : 639px;
// $tab-max : 767px;
// $ipad-max: 1023px;
// $dsk-max : 1279px;
// $md-max  : 1365px;
// $lg-max  : 1599px;

// // Media queries breakpoints min-width
// $xs: 480px;
// $sm: 640px;
// $tab: 768px;
// $ipad: 1024px;
// $dsk: 1280px;
// $md: 1366px;
// $lg: 1600px;