.ul {

   .li {
      padding-left: 30px;
      position    : relative;

      &:before {
         content         : '';
         display         : block;
         height          : 7px;
         width           : 7px;
         background-color: $color-red;
         border-radius   : 50%;
         position        : absolute;
         top             : 45%;
         transform       : translateY(-50%);
         left            : 12px;
      }
   }

   li+li {
      margin-top: 10px;
   }
}