.cart-block {
  padding-top    : 30px;
  padding-bottom : 50px;
  @media screen and (min-width : 668px) {
	padding-top    : 65px;
	padding-bottom : 245px;
  }

  &__title {
	display        : block;
	text-transform : uppercase;
	text-align     : center;
	margin-bottom  : 30px;
	//@media screen and (min-width : 668px) {
	//  display : none;
	//}
  }

  &__btn {
	display         : flex;
	justify-content : space-between;
	margin-top      : 15px;
  }

  &__center {
	margin     : 0 auto;
	margin-top : 60px;

	&:last-child {
	  margin-top : 30px;
	}
  }
}

.cart-inner {
  &__head {
	display : none;
	@media screen and (min-width : 668px) {
	  display         : flex;
	  justify-content : space-around;
	  font-size       : 14px;
	  height          : 25px;
	  font-weight     : 500;
	  text-transform  : unset;
	  letter-spacing  : 0.01em;
	  color           : #36C2FF;
	}
  }

  &__goods {
	display         : flex;
	flex-direction  : row;
	justify-content : space-around;
	align-items     : center;
	position        : relative;
	@media screen and (min-width : 668px) {
	  align-items : flex-start;
	}

	&:hover .goods__close {
	  display : block;
	}
  }
}


.cart-head {
  &__item:first-child {
	width : 20%;
  }
}

.goods {
  padding-top    : 20px;
  padding-bottom : 35px;

  &__close {
	display        : none;
	position       : absolute;
	top            : 10px;
	left           : 15px;
	font-size      : 14.1px;
	line-height    : 25px;
	font-weight    : 500;
	letter-spacing : .01em;
	color          : #555F76;
	cursor         : pointer;
  }

  &__item {
	height         : 34px;
	padding        : 3px;
	font-size      : 14.1px;
	line-height    : 25px;
	font-weight    : 500;
	letter-spacing : 0.01em;
	color          : #555F76;

	&--img {
	  max-width    : 150px;
	  height       : auto;
	  margin-right : calc(100% - (4 * 24%));
	  @media screen and (min-width : 668px) {
		height    : 100%;
		max-width : 140px;
	  }
	}

	&--price,
	&--count,
	&--total {
	  display : none;
	  @media screen and (min-width : 668px) {
		display : block;
	  }
	}

	&--count {
	  width         : 52px;
	  height        : 34px;
	  border        : 1px solid #555F7645;
	  border-radius : 3.0px;
	  text-align    : center;
	}

	&--desc {
	  height : 100%;
	  //width  : 100%;
	  @media screen and (min-width : 668px) {
		height : 100px;
		width  : 15%;
	  }
	}

  }
}

.desc-inner {
  &__title {
	margin-bottom : 10px;
	@media screen and (min-width : 668px) {
	  margin-bottom : 0;
	}
  }

  &__price,
  &__count,
  &__total {
	&--visible {
	  display : block;
	  @media screen and (min-width : 668px) {
		display : none;
	  }
	}
  }
}


hr {
  border-color : #555F7645;
}