footer.footer.content
    .container
        .footer__row.footer__row--border
            .footer__column
                .footer__title.footer__title--lowercase explore
                .footer__text
                    | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    | printer took a galley of type and scrambled it to make a type specimen book survived not
            .footer__column
                .footer__title HELP
                ul.footer__menu
                    li.footer__item
                        a.footer__link(href="#") Newsletter
                    li.footer__item
                        a.footer__link(href="#") Blog
                    li.footer__item
                        a.footer__link(href="#") Get paid
                    li.footer__item
                        a.footer__link(href="#") Sign in
                    li.footer__item
                        a.footer__link(href="#") Sign up
            .footer__column
                .footer__title Follow
                ul.footer__menu
                    li.footer__item
                        a.footer__link(href="#") Twitter
                    li.footer__item
                        a.footer__link(href="#") Facebook
                    li.footer__item
                        a.footer__link(href="#") Instagram
                    li.footer__item
                        a.footer__link(href="#") Pinterest
                    li.footer__item
                        a.footer__link(href="#") Behance
            .footer__column
                .footer__title EXPLORE
                ul.footer__menu
                    li.footer__item
                        a.footer__link(href="#") Features
                    li.footer__item
                        a.footer__link(href="#") Privacy
                    li.footer__item
                        a.footer__link(href="#") Features
                    li.footer__item
                        a.footer__link(href="#") Privacy
                    li.footer__item
                        a.footer__link(href="#") Privacy
            .footer__column
                .footer__title SIGN UP
                form.footer__form(action="" method="POST")
                    input.footer__input.footer__input--padding(type="email" placeholder="duecreation@gmail.com" name="email")
                    input.footer__input(type="password" placeholder="password" name="password")
                    button.btn.btn__form.btn__footer(type="submit") Go!
        .footer__row
            .footer__column.footer__column--row
                a.footer__social-icons(href="#")
                    //img(src="images/footer/behance.png" alt="behance" title="behance")
                    <i class="fab fa-behance"></i>

                a.footer__social-icons(href="#")
                    //img(src="images/footer/fb.png" alt="fb" title="fb")
                    <i class="fab fa-facebook-f"></i>

                a.footer__social-icons(href="#")
                    //img(src="images/footer/pinterest.png" alt="pinterest" title="pinterest")
                    <i class="fab fa-pinterest"></i>

                a.footer__social-icons(href="#")
                    //img(src="images/footer/twitter.png" alt="twitter" title="twitter")
                    <i class="fab fa-twitter"></i>
            .footer__column
                .footer__text.footer__text--copyright
                    |@Copyright 2015 explore All right reserved