header.header
    .container
        h1.header__title Winter Collection
        .header__subtitle Buy stylish products in our shop!
        a.header-button
            .header-button__text SHOP NOW
            .header-button__arrow
                img(src="images/header/arrow_right.png" alt="arrow" title="shop now")

