nav.nav
    .nav-container.container
        .nav-logo.logo
            span.logo__text.logo__text--special ex
            span.logo__text plore
        a.nav__burger.burger
            span.burger__line
        ul.nav-menu.menu
            li.menu__item
                a.menu__link(href="home.html") Home
            li.menu__item
                a.menu__link(href="view.html") Mens
            li.menu__item
                a.menu__link(href="view.html") Womens
            li.menu__item
                a.menu__link(href="view.html") Kids
            li.menu__item
                a.menu__link(href="#") Blog
        .nav-cart.cart(data-count=3)
            span#cart-count.cart__count
            a(href="/cart/")
                img(src="images/nav/header_cart.png" alt="cart" title="Cart")
            .cart__mini-cart
        .nav-login.login
            .login__inner
                select.login__select
                    option(value="My Account") My Account
                    option(value="Quit") Quit
                .login__arrow
