.pagination
    ul.pagination__inner
        li.pagination__item
            a(href="#").pagination__link 1
        li.pagination__item
            a(href="#").pagination__link 2
        li.pagination__item
            a(href="#").pagination__link 3
        li.pagination__item
            a(href="#").pagination__link 4
        li.pagination__item
            a(href="#").pagination__link 5
        li.pagination__item
            a(href="#").pagination__link 6
        li.pagination__item
            a().pagination__link.pagination__link--ellipsis ...
        li.pagination__item
            a(href="#").pagination__link 10
        li.pagination__item
            a(href="#").pagination__link Next